@model Member;
@{
    var member = Model;
    ViewData["Title"] = "健身飲食管理系統";
}
<partial name="TitleBar" />

<partial name="TitleBarDetail" model="member" />

<div id="otherPartial"></div>

<partial name="UserData" />

@section scripts
{
    <script src="~/js/chart.js"></script>
    <script src="~/js/other.js"></script>
    <script>
        let calories;
        $(function () {
            urlSet();
            eventSet();
        });

        //設定各個url位址
        function urlSet() {
            registeredEvent('@Url.RouteUrl("Account_Registered")');
            loginEvent('@Url.RouteUrl("Account_Login")');
            logoutEvent('@Url.RouteUrl("Account_Logout")');
            historyEvent('@Url.RouteUrl("Account_TrackHistory")');
            recipeSearchEvent('@Url.RouteUrl("Home_GetRecipe")');
            shopSearchEvent('@Url.RouteUrl("Home_GetShopFoods")');
            searchSportEvent('@Url.RouteUrl("Home_SearchSport")');
            createSportEvent('@Url.RouteUrl("Home_CreateSport")');
        }
        //=========個人追蹤=========
        $('#track_picker').datetimepicker({
            format:'yyyy/mm/dd',
            minView: 'month',
            autoclose: true
        });
        $("#btn_trackInsert").on("click", function () {
            let memberId = $("#UserData_MemberId").val();
            if (memberId == "" || memberId == undefined) {
                alert("新增失敗，您尚未登入，請重新登入！");
                window.location.reload();
                return;
            }
            let datetime = $("#track_picker").data("date");
            if (datetime == undefined) {
                $("#track_alert").text("必須選擇日期！");
                return;
            }

            let calories = $("#track_calories").val();
            let weight = $("#track_weight").val();

            if (calories == "" && weight == "") {
                $("#track_alert").text("必須填寫熱量或熱量！");
                return;
            }
            $("#track_alert").text("");

            let data = {};
            if (calories != "" && calories != undefined) {
                data = { MemberId: memberId, HistoryType: 0, Value: calories, DataDate: datetime };
                addHistoryData(data);
            }
            if (weight != "" && weight != undefined) {
                data = { MemberId: memberId, HistoryType: 1, Value: weight, DataDate: datetime };
                addHistoryData(data);
            }
        });
        /**
         * 歷史資料AJAX
         */
        function addHistoryData(data) {
            $.ajax({
                url: '@Url.RouteUrl("Account_AddHistory")',
                type: 'POST',
                data: {history:data}
            }).done(function (data) {
                if (data == null || data == undefined) {
                    $("#track_alert").text("新增失敗！");
                    return;
                }
                if(data.success == "insert")
                    $("#track_alert").text("已新增一筆資料：「" + data.dataDate + " " + data.type + " " + data.value + "」");
                else if(data.success == "update")
                    $("#track_alert").text("已更新一筆資料：「" + data.dataDate + " " + data.type + " " + data.value + "」");
                if (lastHistoryClick != undefined)
                    $(lastHistoryClick).click();
            });
        }
        //=========個人追蹤=========
        //=========商店販售=========
        $("#bar_shop").on("click", function () {
            $.ajax({
                url: '@Url.RouteUrl("Market_MainLoad")',
                type: 'POST',
                data: {}
            }).done(function (data) {
                $("#partial_market").html(data);
            });
        });
        $("#cart").on("click", function () {
            let memberId = $("#UserData_MemberId").val();
            if (memberId === undefined || memberId === null || memberId === "") {
                alert("開啟購物車失敗，請先登入會員！");
                return;
            }

            $.ajax({
                url: '@Url.RouteUrl("Cart_GetTotal")',
                type: 'POST',
                data: { memberId: memberId }
            }).done(function (data) {
                removeTabActive();
                $("#otherPartial").html(data);
            });
        });
        //=========商店販售=========
    </script>
}