@model Member;
@{
    var member = Model;
    ViewData["Title"] = "健身飲食管理系統";
}
<partial name="TitleBar" />

<partial name="TitleBarDetail" model="member" />

<div id="otherPartial"></div>

<partial name="UserData" />

@section scripts
{
    <script src="~/js/chart.js"></script>
    <script src="~/js/calories.js"></script>
    <script>
        let calories;
        $(function () {
            urlSet();
            eventSet();
        });

        //設定各個url位址
        function urlSet() {
            registeredEvent('@Url.RouteUrl("Account_Registered")');
            loginEvent('@Url.RouteUrl("Account_Login")');
            logoutEvent('@Url.RouteUrl("Account_Logout")');
            historyEvent('@Url.RouteUrl("Account_TrackHistory")');
        }

        //=========食譜推推=========
        $("#btn_recipeSearch").on("click", function () {
            let calories = $("#recipe_calories").val();
            $.ajax({
                url: '@Url.RouteUrl("Home_GetRecipe")',
                type: 'POST',
                data: {calories:calories}
            }).done(function (data) {
                $("#recipe_searchResult").empty();
                if (data === undefined || data === null) {
                    $("#recipe_searchResult").html("<div style='text-align:center'><span style='color:red'>查詢不到指定範圍內相關的食譜！</span></div>");
                }
                else {
                    $("#recipe_searchResult").html(data);
                }
            });
        });
        //=========食譜推推=========
        //=========食物查詢=========
        $("#food_selectFood").on("change", function () {
            let name = $("#food_selectFood option:selected").text();
            let calories = $("#food_selectFood option:selected").val();
            if (name == "請選擇...") {
                $("#food_calories").text("");
                return;
            }
            $("#food_calories").text(name + " " + calories + " 大卡")
        });
        $("#btn_shopSearch").on("click", function () {
            let shopId = $("#food_selectShop").val();
            $.ajax({
                url: '@Url.RouteUrl("Home_GetShopFoods")',
                type: 'POST',
                data: {shopId:shopId}
            }).done(function (data) {
                $("#food_searchResult").empty();
                if (data === undefined || data === null) {
                    $("#food_searchResult").html("<div style='text-align:center'><span style='color:red'>查詢不到商店內的食物資訊！</span></div>");
                }
                else {
                    $("#food_searchResult").html(data);
                }
            });
        });
        //=========食物查詢=========
        //=========個人追蹤=========
        $('#track_picker').datetimepicker({
            format:'yyyy/mm/dd',
            minView: 'month',
            autoclose: true
        });
        $("#btn_trackInsert").on("click", function () {
            let memberId = $("#UserData_MemberId").val();
            if (memberId == "" || memberId == undefined) {
                alert("新增失敗，您尚未登入，請重新登入！");
                window.location.reload();
                return;
            }
            let datetime = $("#track_picker").data("date");
            if (datetime == undefined) {
                $("#track_alert").text("必須選擇日期！");
                return;
            }

            let calories = $("#track_calories").val();
            let weight = $("#track_weight").val();

            if (calories == "" && weight == "") {
                $("#track_alert").text("必須填寫熱量或熱量！");
                return;
            }
            $("#track_alert").text("");

            let data = {};
            if (calories != "" && calories != undefined) {
                data = { MemberId: memberId, HistoryType: 0, Value: calories, DataDate: datetime };
                addHistoryData(data);
            }
            if (weight != "" && weight != undefined) {
                data = { MemberId: memberId, HistoryType: 1, Value: weight, DataDate: datetime };
                addHistoryData(data);
            }
        });
        /**
         * 歷史資料AJAX
         */
        function addHistoryData(data) {
            $.ajax({
                url: '@Url.RouteUrl("Account_AddHistory")',
                type: 'POST',
                data: {history:data}
            }).done(function (data) {
                if (data == null || data == undefined) {
                    $("#track_alert").text("新增失敗！");
                    return;
                }
                if(data.success == "insert")
                    $("#track_alert").text("已新增一筆資料：「" + data.dataDate + " " + data.type + " " + data.value + "」");
                else if(data.success == "update")
                    $("#track_alert").text("已更新一筆資料：「" + data.dataDate + " " + data.type + " " + data.value + "」");
            });
        }
        //=========個人追蹤=========
        //=========我要運動=========
        $('#sport_picker').datetimepicker({
            format:'yyyy/mm/dd',
            minView: 'month',
            autoclose: true
        });
        //=========我要運動=========
    </script>
}