@model Member;
@{
    var member = Model;
    ViewData["Title"] = "健身飲食管理系統";
}
<partial name="TitleBar" />

<partial name="TitleBarDetail" model="member" />

<div id="otherPartial"></div>

<partial name="UserData" />

@section scripts
{
    <script>
        let calories;
        $(function () {
            urlSet();
            eventSet();
        });

        //設定各個url位址
        function urlSet() {
            registeredEvent('@Url.RouteUrl("Account_Registered")');
            loginEvent('@Url.RouteUrl("Account_Login")');
            logoutEvent('@Url.RouteUrl("Account_Logout")');
        }

        //=========計算熱量=========
        //綁定計算熱量觸發事件
        function eventSet() {
            //性別
            $("[name=radio_gender]").on("click", function () {
                $("#gender").val($(this).val());
            });

            //運動類型
            $("[name=sport]").on("click", function () {
                $("#sportType").val($(this).val());
                $("[name=sport]").css('background-color', 'white');
                $("[name=sport]").css('color', 'black');
                $(this).css('background-color', '#008CBA');
                $(this).css('color', 'white');
            });

            //計算熱量和bmi
            $("#calculation").on("click", function () {
                calories = $("#Calories").html();

                let height = $("#height").val();
                let weight = $("#weight").val();
                let age = $("#age").val();
                let gender = $("#gender").val();
                let sportType = $("#sportType").val();

                height = parseInt(height) / 100;

                let bmi = parseInt(weight) / height / height;
                bmi = bmi.toFixed(2);

                let bmr = (gender == true) ? 13.7 * weigh + 5 * height - 6.8 * age + 66 : 9.6 * weight + 1.8 * height - 4.7 * age + 655;

                if (sportType == "0")
                    bmr = bmr * 1.2;
                else if (sportType == "1")
                    bmr = bmr * 1.375
                else if (sportType == "2")
                    bmr = bmr * 1.55
                else if (sportType == "3")
                    bmr = bmr * 1.725

                bmr = bmr.toFixed(2);

                $("#Calories").empty();
                $("#Calories").append("<div style='text-align:center'><label style='font-size:22pt'>測量結果</label><br /><br /><label style='font-size:22pt'>ＢＭＩ：<label id='bmi'></label></label><br /><br /><label style='font-size:22pt'>熱量建議：<label id='caloriesSuggest'></label></label></div>");
                $("#bmi").html(bmi);
                $("#caloriesSuggest").html(bmr);
            });
        }

        //重置計算熱量按鈕
        $("#titleCalories").on("click", function () {
            if (calories == undefined) {
                return;
            }
            $("#Calories").empty();
            $("#Calories").append(calories);
            $("[name=sport]").css('background-color', 'white');
            $("[name=sport]").css('color', 'black');

            eventSet();
        });
        //=========計算熱量=========
        //=========食譜推推=========
        $("#btn_recipeSearch").on("click", function () {
            let calories = $("#recipe_calories").val();
            $.ajax({
                url: '@Url.RouteUrl("Home_GetRecipe")',
                type: 'POST',
                data: {calories:calories}
            }).done(function (data) {
                $("#recipe_searchResult").empty();
                if (data === undefined || data === null) {
                    $("#recipe_searchResult").html("<div style='text-align:center'><span style='color:red'>查詢不到指定範圍內相關的食譜！</span></div>");
                }
                else {
                    $("#recipe_searchResult").html(data);
                }
            });
        });
        //=========食譜推推=========
        //=========食物查詢=========
        $("#food_selectFood").on("change", function () {
            let name = $("#food_selectFood option:selected").text();
            let calories = $("#food_selectFood option:selected").val();
            if (name == "請選擇...") {
                $("#food_calories").text("");
                return;
            }
            $("#food_calories").text(name + " " + calories + " 大卡")
        });
        $("#btn_shopSearch").on("click", function () {
            let shopId = $("#food_selectShop").val();
            $.ajax({
                url: '@Url.RouteUrl("Home_GetShopFoods")',
                type: 'POST',
                data: {shopId:shopId}
            }).done(function (data) {
                $("#food_searchResult").empty();
                if (data === undefined || data === null) {
                    $("#food_searchResult").html("<div style='text-align:center'><span style='color:red'>查詢不到商店內的食物資訊！</span></div>");
                }
                else {
                    $("#food_searchResult").html(data);
                }
            });
        });
        //=========食物查詢=========
    </script>
}