@model Member;
@{
    var member = Model;
    ViewData["Title"] = "健身飲食管理系統";
}
<partial name="TitleBar" />

<partial name="TitleBarDetail" model="member" />

<div id="otherPartial"></div>

<partial name="UserData" />

@section scripts
{
    <script>
        let calories;
        $(function () {
            urlSet();
            eventSet();
        });

        //設定各個url位址
        function urlSet() {
            registeredEvent('@Url.RouteUrl("Account_Registered")');
            loginEvent('@Url.RouteUrl("Account_Login")');
            logoutEvent('@Url.RouteUrl("Account_Logout")');
        }

        //=========計算熱量=========
        //綁定計算熱量觸發事件
        function eventSet() {
            //性別
            $("[name=radio_gender]").on("click", function () {
                $("#gender").val($(this).val());
            });

            //運動類型
            $("[name=sport]").on("click", function () {
                $("#sportType").val($(this).val());
                $("[name=sport]").css('background-color', 'white');
                $("[name=sport]").css('color', 'black');
                $(this).css('background-color', '#008CBA');
                $(this).css('color', 'white');
            });

            //計算熱量和bmi
            $("#calculation").on("click", function () {
                calories = $("#Calories").html();

                let height = $("#height").val();
                let weight = $("#weight").val();
                let age = $("#age").val();
                let gender = $("#gender").val();
                let sportType = $("#sportType").val();

                height = parseInt(height) / 100;

                let bmi = parseInt(weight) / height / height;
                bmi = bmi.toFixed(2);

                let bmr = (gender == true) ? 13.7 * weigh + 5 * height - 6.8 * age + 66 : 9.6 * weight + 1.8 * height - 4.7 * age + 655;

                if (sportType == "0")
                    bmr = bmr * 1.2;
                else if (sportType == "1")
                    bmr = bmr * 1.375
                else if (sportType == "2")
                    bmr = bmr * 1.55
                else if (sportType == "3")
                    bmr = bmr * 1.725

                bmr = bmr.toFixed(2);

                $("#Calories").empty();
                $("#Calories").append("<div style='text-align:center'><label style='font-size:22pt'>測量結果</label><br /><br /><label style='font-size:22pt'>ＢＭＩ：<label id='bmi'></label></label><br /><br /><label style='font-size:22pt'>熱量建議：<label id='caloriesSuggest'></label></label></div>");
                $("#bmi").html(bmi);
                $("#caloriesSuggest").html(bmr);
            });
        }

        //重置計算熱量按鈕
        $("#titleCalories").on("click", function () {
            if (calories == undefined) {
                return;
            }
            $("#Calories").empty();
            $("#Calories").append(calories);
            $("[name=sport]").css('background-color', 'white');
            $("[name=sport]").css('color', 'black');

            eventSet();
        });
        //=========計算熱量=========
        //=========食譜推推=========
        $("#btn_recipeSearch").on("click", function () {
            let calories = $("#recipe_calories").val();
            $.ajax({
                url: '@Url.RouteUrl("Home_GetRecipe")',
                type: 'POST',
                data: {calories:calories}
            }).done(function (data) {
                $("#recipe_searchResult").empty();
                if (data === undefined || data === null) {
                    $("#recipe_searchResult").html("<div style='text-align:center'><span style='color:red'>查詢不到指定範圍內相關的食譜！</span></div>");
                }
                else {
                    $("#recipe_searchResult").html(data);
                }
            });
        });
        //=========食譜推推=========
        //=========食物查詢=========
        $("#food_selectFood").on("change", function () {
            let name = $("#food_selectFood option:selected").text();
            let calories = $("#food_selectFood option:selected").val();
            if (name == "請選擇...") {
                $("#food_calories").text("");
                return;
            }
            $("#food_calories").text(name + " " + calories + " 大卡")
        });
        $("#btn_shopSearch").on("click", function () {
            let shopId = $("#food_selectShop").val();
            $.ajax({
                url: '@Url.RouteUrl("Home_GetShopFoods")',
                type: 'POST',
                data: {shopId:shopId}
            }).done(function (data) {
                $("#food_searchResult").empty();
                if (data === undefined || data === null) {
                    $("#food_searchResult").html("<div style='text-align:center'><span style='color:red'>查詢不到商店內的食物資訊！</span></div>");
                }
                else {
                    $("#food_searchResult").html(data);
                }
            });
        });
        //=========食物查詢=========
        //=========個人追蹤=========
        $('#track_picker').datetimepicker({
            format:'yyyy/mm/dd'
        });
        $("#btn_trackInsert").on("click", function () {
            let memberId = $("#UserData_MemberId").val();
            if (memberId == "" || memberId == undefined) {
                alert("新增失敗，您尚未登入，請重新登入！");
                window.location.reload();
                return;
            }
            let datetime = $("#track_picker").data("date");
            if (datetime == undefined) {
                $("#track_alert").text("必須選擇日期！");
                return;
            }

            let calories = $("#track_calories").val();
            let weight = $("#track_weight").val();

            if (calories == "" && weight == "") {
                $("#track_alert").text("必須填寫熱量或熱量！");
                return;
            }
            $("#track_alert").text("");

            let data = {};
            if (calories != "" && calories != undefined) {
                data = { MemberId: memberId, HistoryType: 0, Value: calories, DataDate: datetime };
                addHistoryData(data);
            }
            if (weight != "" && weight != undefined) {
                data = { MemberId: memberId, HistoryType: 1, Value: weight, DataDate: datetime };
                addHistoryData(data);
            }
        });
        /**
         * 歷史資料AJAX
         */
        function addHistoryData(data) {
            $.ajax({
                url: '@Url.RouteUrl("Account_AddHistory")',
                type: 'POST',
                data: {history:data}
            }).done(function (data) {
                if (data == null || data == undefined) {
                    $("#track_alert").text("新增失敗！");
                    return;
                }
                if(data.success == "insert")
                    $("#track_alert").text("已新增一筆資料：「" + data.dataDate + " " + data.type + " " + data.value + "」");
                else if(data.success == "update")
                    $("#track_alert").text("已更新一筆資料：「" + data.dataDate + " " + data.type + " " + data.value + "」");
            });
        }
        $("#btn_trackHistory_calories,#btn_trackHistory_weight").on("click", function () {
            let historyType = 0;
            if ($(this).attr("id") == "btn_trackHistory_weight") {
                historyType = 1;
            }

            let defaultYear = new Date().getFullYear();
            let defaultMonth = new Date().getMonth() + 1;
            $("#track_historyYear").val(defaultYear);
            $("#track_historyMonth").val(new Date().getMonth());
            $("#track_historyDate").val(defaultYear + "-" + defaultMonth + "-01");

            let memberId = $("#UserData_MemberId").val();
            let dateTime = $("#track_historyDate").val();

            $.ajax({
                url: '@Url.RouteUrl("Account_TrackHistory")',
                type: 'POST',
                data: { memberId: memberId, dateTime: dateTime,historyType:historyType }
            }).done(function (data) {
                let title = "熱量";
                let color = "#ea464d";
                if (historyType == 1) {
                    title = "體重";
                    color = "#41BDFA";
                }
                let label = [];
                let value = [];
                data.histories.forEach(function (item) {
                    label.push(item.dataDate.replace("T00:00:00","").split("-")[2]);
                    value.push(item.value);
                });

                //取得查詢月份有幾天
                let searchYear = $("#track_historyYear").val();
                let searchMonth = parseInt($("#track_historyMonth").val());
                let monthDays = new Date(searchYear, searchMonth, 0).getDate();
                let bottomLabel = [];   //底下的標題
                let screenValue = [];   //畫圖的值
                let originDataCount = 0;
                for (i = 1; i <= monthDays; i++) {
                    bottomLabel.push(searchYear + "/" + (searchMonth + 1) + "/" + i);
                    if (parseInt(label[originDataCount]) == i) {
                        screenValue.push(value[originDataCount]);
                        originDataCount++;
                    }
                    else {
                        screenValue.push(0);
                    }
                }

                var ctx = document.getElementById("canvas").getContext("2d");
                var lineChartData = {
                    labels: bottomLabel, //顯示區間名稱
                    datasets: [{
                        label: title, // tootip 出現的名稱
                        lineTension: 0.2, // 曲線的彎度，設0 表示直線
                        backgroundColor: color,
                        borderColor: color,
                        borderWidth: 5,
                        data: screenValue, // 資料
                        fill: false, // 是否填滿色彩
                    }]
                };
                drawLineCanvas(ctx, lineChartData);
            });

        });
        //=========個人追蹤=========
    </script>
}